.heroSection {
    position: relative;
    height: 60vh;
  }
  
  .heroImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ffffff;
  }
  
  .overlayText {
    font-weight: bold;
    margin-top: 25vh;
  }
  
  .contentSection {
    padding: 100px 0;
  }
  
  .imageMargin {
    margin-bottom: 20px;
  }
  
  .heading {
    font-weight: bold;
    color: #00b074;
  }
  
  .paragraph {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
    color: #00b074;
  }
  
  .buttonGroup {
    margin-top: 20px;
  }
  
  .socialButton {
    background-color: #00b074;
    margin-right: 10px;
    border: none;
  }
  
  .lastSocialButton {
    background-color: #00b074;
    border: none;
  }
  